<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <${input.head}/>
  </head>
  <body>
    <div class="container">
      <main id="main">
        <${input.body}/>
      </main>
    </div>
  </body>
</html>
